*{
  padding:0%;
  margin: 0%;  
}

.topheader{
    display: flex;
    justify-content: space-between;
    
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}
.topheader div h1{
    margin-left: 0.5rem;
}
 .topheader2{
    display: flex;
    list-style-type: none;
    align-items: center;

}
.topheader2 li a{
    margin: 2rem;
}

.topheader2 .list{
    text-decoration: none;
    border-style: solid;
    padding: 0.5rem;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    background-color: orange;
}

section h1{
    text-align: center;
    padding-top: 2rem;
    font-size: 3rem;
}

article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
article .images{
    display: flex;
   
}


article .images img{
    object-fit: contain;
    width: 10rem;
    height: 10rem;
    margin: 1rem;
    
}

article div ul{
    padding-top: 2rem;
    padding-left: 5rem;
    list-style-type: none;
}

